.about {
	display: flex;
	margin-top: 145px;
}
.about:before {
	content: "";
	width: 489px;
	height: 503px;
	border-radius: 6px;
	background: url("./../../images/decor/gates.jpg") center center / cover no-repeat;
}
.about__desc {
	background: url("./../../images/decor/mountains.jpg") center center / cover no-repeat;
	padding: 75px 98px;
	max-width: 781px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 6px;
	margin-left: -132px;
	margin-top: 106px;
	margin-bottom: 35px;
	
}
.about__title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 40px;
	color: black;
}

.about__description_text {
	font-size: 16px;
	margin-bottom: 45px;
	color: black;
}

.about__description_text p {
	margin-bottom: 20px;
}
.about__desc_text p:last-child {
	margin-bottom: 0;
}
